<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쿠키 삭제</title>
  <style>
    div{width:200px; height:30px; border:1px solid black;}
  </style>
</head>
<body>
  <h2>쿠키 삭제</h2>
  <form action="{% url 'member:cookDelete' %}" method='POST' name='loginfrm'>
    {% comment %} url 연결할 때 '가 아니라 "로 연결 {% endcomment %}
    {% csrf_token %}
    {% for c in request.COOKIES %}
      <div>{{c}}</div>
    {% endfor %}
    <label>쿠키key</label>
    <input type='text' name='cKey' id='cKey'><br/>
    <input type='submit' value='쿠키 삭제'>
  </form>
</body>
</html>