<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원옵션</title>
</head>
<body>
  <h2>회원옵션</h2>
  <form action="{% url 'member:m2' %}" method='POST' name='loginfrm'>
    {% comment %} url 연결할 때 '가 아니라 "로 연결 {% endcomment %}
    {% csrf_token %}
    <label>회원권 번호</label>
    <input type='text' name='memberId' id='meberId' value={{c_memberId}}><br/>
    <label>금액</label>
    <input type='text' name='money' id='money' value={{c_money}}><br/>
    <label>옵션</label>
    <input type='text' name='option' id='option' value={{c_option}}><br/>
    <input type='checkbox' name='saveMember' value='1' id='saveMember' {% if c_memberId %}checked{% endif %}>
    <label for='saveMember'>회원정보 저장</label><br/>
    <input type='submit' value='회원가입'>
  </form>
</body>
</html>