<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2><a href = '/'>학생등록페이지</a></h2>
  <!-- url 링크방식 : students/save/ -->
  <!-- url 이름방식 : students:save -->
   {% comment %} POST는 대문자로 써야함 {% endcomment %}
  <form action = "{% url 'students:save' %}" method="POST" name="frm">
    {% csrf_token %}
    <label>학생이름</label>
    <input type="text" name="name"><br/>
    <label>학과</label>
    <input type="text" name="major"><br/>
    <label>학년</label>
    <input type="text" name="grade"><br/>
    <label>나이</label>
    <input type="text" name="age"><br/>
    <label>성별</label>
    <input type="text" name="gender"><br/>
    <input type="submit" name="제출"><br/>
    <input type="reset" name="취소"><br/>
  </form>
</body>
</html>