{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>임시 로그인페이지</title>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="ANGGGO" />
  <meta name="keywords" content="ANGGGO" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scaleable=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %} ">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      let signup = $(".links").find("li").find("#signup") ; 
      let signin = $(".links").find("li").find("#signin") ;
      let reset  = $(".links").find("li").find("#reset")  ; 
      let first_input = $("form").find(".first-input");
      let hidden_input = $("form").find(".input__block").find("#repeat__password");
      let signin_btn  = $("form").find(".signin__btn");
    
      //----------- 회원가입 ---------------------
      signup.on("click",function(e){
        e.preventDefault();
        $(this).parent().parent().siblings("h1").text("회원가입");
        $(this).parent().css("opacity","1");
        $(this).parent().siblings().css("opacity",".6");
        first_input.removeClass("first-input__block").addClass("signup-input__block");
        hidden_input.css({
          "opacity" : "1",
          "display" : "block"
        });
        signin_btn.text("회원가입");
      });
      
      //----------- 로그인 ---------------------
      signin.on("click",function(e){
        e.preventDefault();
        $(this).parent().parent().siblings("h1").text("로그인");
        $(this).parent().css("opacity","1");
        $(this).parent().siblings().css("opacity",".6");
        first_input.addClass("first-input__block")
          .removeClass("signup-input__block");
        hidden_input.css({
          "opacity" : "0",
          "display" : "none"
        });
        signin_btn.text("로그인");
      });
     
      //----------- reset ---------------------
      reset.on("click",function(e){
        e.preventDefault();
        $(this).parent().parent().siblings("form")
        .find(".input__block").find(".input").val("");
     });
  });
  </script>
</head>
<body>
<div class="container">
  <!-- Heading -->
  <h1>로그인</h1>
  
  <!-- Links -->
  <ul class="links">
    <li>
      <a href="#" id="signin">로그인</a>
    </li>
    <li>
      <a href="#" id="signup">회원가입</a>
    </li>
    <li>
      <a href="#" id="reset">RESET</a>
    </li>
  </ul>
  
  <script>
    
    $(function(){
      const csrfToken = $("meta[name='csrf-token']").attr("content");

      // 로그인btn클릭
      $(".signin__btn").click(function(){
        alert("아이디 : " + $("#id").val() + " / 비밀번호 : " + $("#pw").val())

        id = $("#id").val();
        pw = $("#pw").val();

        $.ajax({
          headers : {"X-CSRFToken":csrfToken},
          url : "/member/loginChk/",
          type : "post",
          data : {"id":id, "pw":pw},

          success : function(data){
            if(data.result == "success"){
              console.log("아이디 : " + id + " / 패스워드 : " + pw);
              alert("로그인되었습니다.");
              location.href = "/";
            }else{
              alert("아이디 또는 패스워드가 일치하지 않습니다.");
            }
          },
          error : function(){
            alert("실패");
          }
        });	// ajax

        // input 텍스트박스 초기화
        $("#id").val("");
        $("#pw").val("");
        $("#id").focus();

      }); // .signin__btn
    }); // jquery

  </script>

  <!-- Form -->
  <form action="/member/login/" method="post">
    {% csrf_token %}
    <!-- email input -->
    <div class="first-input input__block first-input__block">
       <input type="text" placeholder="아이디" class="input" id="id" name="id"  />
    </div>
    <!-- password input -->
    <div class="input__block">
       <input type="password" placeholder="비밀번호" class="input" id="pw" name="pw"   />
    </div>
    <!-- repeat password input -->
    <div class="input__block">
       <input type="password" placeholder="비밀번호 확인" class="input repeat__password" id="repeat__password"    />
    </div>
    <!-- 로그인 button -->
    <button type="button" class="signin__btn">
      로그인
    </button>
  </form>
  <div class="find_info">
    <a href="/member/findInfo/">아이디 • 비밀번호 찾기</a>
  </div>
  {% comment %} <!-- separator -->
  <div class="separator">
    <p>OR</p>
  </div>
  <!-- google button -->
  <button class="google__btn">
    <i class="fa fa-google"></i>
    로그인 with Google
  </button>
  <!-- google button -->
  <button class="github__btn">
    <i class="fa fa-github"></i>
    로그인 with GitHub
  </button>
</div> {% endcomment %}

{% comment %} <footer>
  <p>
    Thank you for watching
    <i class="fa fa-heart"></i> 
    <i class="fa fa-heart"></i> 
    <i class="fa fa-heart"></i>
  </p>
  <p>
    Chouaib Blgn :
    <a href="https://www.facebook.com/chouaib45" >
      <i class="fa fa-facebook"></i>
    </a>
    <a href="http://twitter.com/chouaibblgn45">
      <i class="fa fa-twitter"></i> 
    </a>
    <a href="http://instagram.com/chouaib_blgn">
      <i class="fa fa-instagram"></i> 
    </a>
    <a href="http://linkedin.com/in/chouaibblgn/">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://www.behance.net/geek30">
      <i class="fa fa-behance"></i>
    </a>
  </p> 
</footer> {% endcomment %}
</body>
</html>