{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>ANG-GGO</title>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="ANGGGO" />
  <meta name="keywords" content="ANGGGO" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scaleable=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static '/css/passwordCheck.css' %} ">
  <link rel="icon" type="image/x-icon" href="{% static '/images/meow.ico'%}" />
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="{% static '/js/noLogin.js'%}"></script>
  
  <script type="text/javascript">
    // ---------------- jquery ----------------
    $(document).ready(function(){
      const csrfToken = $("meta[name='csrf-token']").attr("content");
      
      // 확인 버튼 클릭 시 
      $(".pwChkBtn").click(function(){
        pw = $("#pwChk").val();

        if(pw == ""){
          alert("비밀번호를 입력하세요.");
          $("#pwChk").focus();
          return false;
        }

        $.ajax({
          headers : {"X-CSRFToken":csrfToken},
          url : "/member/forPasswordCheck/",
          type : "post",
          data : {"pw":pw},

          success : function(data){
            // 이렇게써도되는게맞나
            if (data.result == "fail") {
              console.log("비밀번호 : " + pw);
              alert("비밀번호가 일치하지 않습니다.");
              $("#pwChk").val("");
              $("#pwChk").focus();
              return false;
            } else {
              console.log("비밀번호 : " + pw);
              alert("비밀번호가 일치합니다. 회원정보가 확인되었습니다.");
              location.href = "/member/changeInfoNewPw/";
              return;
            }
          },
          error : function(){
            alert(response.message);
          }
        });	// ajax

      }); // .signin__btn
    }); // jquery
  </script>
  
</head>
<body>
<div class="container">
  <!-- Heading -->
  <h1>비밀번호 확인</h1>
  
  <div class="topMsg">
    <h4>회원정보 확인을 위한 비밀번호를 입력해 주세요.</h4><br>
  </div>

  <!-- 비밀번호 재설정 Form -->
  <form action="/member/newPassword/" method="post">
    {% csrf_token %}

    <!-- #newPwChk input -->
    <div class="input__block">
       <input type="password" placeholder="비밀번호를 입력하세요." class="input" id="pwChk" name="pwChk"/>
    </div><br>
    <h4 class="error-message"></h4>

    <!-- 확인 button (.newPwBtn)-->
    <button type="button" class="pwChkBtn">
      확인
    </button>
  </form>

  <!-- 아이디 / 비밀번호 찾기 -->
  <div class="find_info">
    <a href="/">홈으로</a>
  </div>

</body>
</html>