{% extends 'main.html' %}
{% load static  %}

{% block container-block %}
<hr>
<body>
<div id="foodboard1">
  <div id="BodyMargin">
    <h2 class="BrndTitle">브랜드 소개</h2>
    <br/>
    <br/>
    <br/>
    <div class="BrndItems">
    <h3 class="BrndSubtitle">
        <ion-icon name="help-outline" class="BrndQuestion"></ion-icon>
        | 앙꼬 란?(What’s mean ANG-GGO)
      </h3><br/>
      <div class="BrndWrap">
        <div class="BrndStrong"><strong>“앙”</strong>(음식을 입에 넣을 때의 의성어) + <strong>“꼬”</strong>(Go 의 귀여운 발음)</div>
        <p class="BrndContent">
          의 의미를 가진 사이트명입니다. 찐빵과 같이 귀여운 사이트 유저 들을 위한 <strong>"앙꼬"</strong>가 되겠습니다.</p>
        </div>
      </div>
    </div>
      <hr class="BrndSeperator">
    <div class="BrndItems">
    <h3 class="BrndSubtitle">
        <ion-icon name="help-outline" class="BrndQuestion"></ion-icon>
        | 앙꼬 란?(What’s mean ANG-GGO)
      </h3><br/>
      <div class="BrndWrap">
        <div class="BrndStrong"><strong>“앙”</strong>(음식을 입에 넣을 때의 의성어) + <strong>“꼬”</strong>(Go 의 귀여운 발음)</div>
        <p class="BrndContent">
          의 의미를 가진 사이트명입니다. 찐빵과 같이 귀여운 사이트 유저 들을 위한 <strong>"앙꼬"</strong>가 되겠습니다.</p>
        </div>
      </div>
    </div>
      <hr class="BrndSeperator">
    <div class="BrndItems">
    <h3 class="BrndSubtitle">
        <ion-icon name="help-outline" class="BrndQuestion"></ion-icon>
        | 앙꼬 란?(What’s mean ANG-GGO)
      </h3><br/>
      <div class="BrndWrap">
        <div class="BrndStrong"><strong>“앙”</strong>(음식을 입에 넣을 때의 의성어) + <strong>“꼬”</strong>(Go 의 귀여운 발음)</div>
        <p class="BrndContent">
          의 의미를 가진 사이트명입니다. 찐빵과 같이 귀여운 사이트 유저 들을 위한 <strong>"앙꼬"</strong>가 되겠습니다.</p>
        </div>
      </div>
    </div>
      <hr class="BrndSeperator">
    
    </div>
  </div>
</body>
  {% endblock container-block %}