{% extends 'main.html' %}
{% load static %}

{% block container-block %}

<div id="foodboard4">
   <div class="mpg_sidebar">
    <div class="sdb_items">
      <a href="#">회원정보수정</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
    <div class="sdb_items">
      <a href="#">앙 포인트/쿠폰/리뷰 확인</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
    <div class="sdb_items">
      <a href="#">예약 내역 확인</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
    <div class="sdb_items">
      <a href="#">즐겨찾기 목록</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
    <div class="sdb_items">
      <a href="#">게시글 작성 목록</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
    <div class="sdb_items">
      <a href="#">문의 내역</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
   </div>
   <div class="content">
    <h2 class="">회원정보수정</h2>
    <form method="POST" name="memUpdateFrm">
      {% csrf_token %}
       <table>
          <tr>
             <th>아이디</th>
             <td>aaa</td>
            </tr>
         <tr>
            <th>이름</th>
            <td><input type='text' name='name'></td>
         </tr>
      <tr>
         <th>닉네임</th>
         <td><input type='text' name='nicName'></td>
      </tr>
      <tr>
         <th>생년월일</th>
         <td><input type='text' name='birth'></td>
      </tr>
      <tr>
         <th>이메일</th>
         <td><input type='text' name='email'></td>
      </tr>
      <tr>
         <th>전화번호</th>
         <td><input type='text' name='tel'></td>
      </tr>
      <tr>
         <th>마일리지</th>
         <td>1000<span>P</span></td>
      </tr>
      <tr>
         <th>필수동의 동의일</th>
         <td>24-12-06</td>
      </tr>
      <tr>
         <th>선택동의 동의일</th>
         <td>24-12-06</td>
      </tr>
   </table>
   <button type='button'>저장하기</button>
</form>
</div>
</div>


{% endblock container-block %}