{% extends 'main.html' %}
{% load static %}

{% block container-block %}

<div id="foodboard4">
   <div class="mpg_sidebar">
    <div class="sdb_items">
      <a href="#">회원정보수정</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
    <div class="sdb_items">
      <a href="#">앙 포인트/쿠폰/리뷰 확인</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
    <div class="sdb_items">
      <a href="#">예약 내역 확인</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
    <div class="sdb_items">
      <a href="#">즐겨찾기 목록</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
    <div class="sdb_items">
      <a href="#">게시글 작성 목록</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
    <div class="sdb_items">
      <a href="#">문의 내역</a>
       <img width="20" height="20" src="https://img.icons8.com/sf-regular/48/sort-right.png" alt="sort-right"/ class="sdb_right">
    </div>
   </div>
   <div class="content">
    <h2>본문 내용</h2>
    <p>여기에 본문 내용을 작성하세요. 이 영역은 사이드바 옆에 위치하며, 본문이 길어질 경우 스크롤할 수 있습니다.</p>
   </div>
</div>


{% endblock container-block %}