<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test2</title>
    <style>
      * {
        margin: 0 auto;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="slick-theme.css" />
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <body>

    <div class="slick-container">
      <div class="item"><img src="https://picsum.photos/id/233/200/300" alt="" /></div>
      <div class="item"><img src="https://picsum.photos/id/234/200/300" alt="" /></div>
      <div class="item"><img src="https://picsum.photos/id/236/200/300" alt="" /></div>
      <div class="item"><img src="https://picsum.photos/id/237/200/300" alt="" /></div>
    </div>
   
    <script>
      $(document).ready(function () {
        $(".slick-container").slick({
          arrows:true,
          dots: true,
          infinite: true,
          speed: 500,
          fade: true,
          autoplay:true,
          cssEase: "linear",
        });
      });
    </script>
  </body>
</html>