{% extends 'main.html' %}
{% load static %}

{% block container-block %}
<script>
  $(document).on("click",".listLikeOn2",function(){
    alert("클릭");
    $(this).css({"display":"none"});
    $(this).next().css({'display':"block"});
    var cnt = $(this).next().next().text();
    $(this).next().next().text(cnt-1);
  });
  $(document).on("click",".listLikeOff2",function(){
    alert("클릭");
    $(this).css({"display":"none"});
    $(this).prev().css({'display':"block"});
    var cnt = $(this).next().text();
    $(this).next().text(Number(cnt)+1);
  });
  $(document).on("click",".liststarOn2",function(){
    alert('클릭');
    alert("별을 지웁니다.")
    $(this).css({"display":"none"})
    $(this).next().css({"display":"block"})
   });
   $(document).on("click",".liststarOff2",function(){
    alert('클릭');
    alert('별을 채웁니다.')
    $(this).css({"display":"none"})
    $(this).prev().css({"display":"block"})
   });
  $(document).on("click",".comment_list",function(){
      alert("클릭")
      $(this).toggleClass('comment_effective');
  })
</script>
<main>
  <div id="foodboard1">  
    <div class="info_more">
      <div class="info_img">
        {% if flist.bFile1 %}
        <img src= "{{flist.bFile1.url}}">
        {% endif %}
        {% if flist.bFile2 %}
        <img src= "{{flist.bFile2.url}}">
        {% endif %}
        {% if flist.bFile3 %}
        <img src= "{{flist.bFile3.url}}">{% endif %}
      </div>
      <br>
      <div class="info_text">
        <div class="info_wrap">
          <div class="bottom_slide">
            <strong>{{flist.bTitle}}
              <a href="/foodBoard/foodRes/{{flist.bNo}}/">
                <ion-icon name="chevron-forward-outline" class="moreIcon"></ion-icon>
              </a>
            </strong>
            <p>00구 · 000</p>
          </div>
        </div>
        <div class="button_wrap">
          <div class="reservation">
            <a href="/foodBoard/foodRes/{{flist.bNo}}/">
            <ion-icon name="calendar-number-outline" style="width:30px; height:30px;"></ion-icon>
            <p>예약하기</p>
          </a>
          </div>
        </div>
      </div>
      <button class="listLikeOn2"></button>
      <button class="listLikeOff2"></button>
              <span class="LikeCnt2">111</span>
              <button class="listLoc2"></button>
              <button class="liststarOn2"></button>
              <button class="liststarOff2"></button>
      <br/>
      <div class="bottom_content">
            <strong>{{flist.bSubtitle}}</strong>
            <p>{{flist.bContent}}</p>
            </div>
          </div>
          <button class="cancelBtn1" onclick="location.href='/foodBoard/foodList/'">목록으로</button>
          <br/>
          <br/>
        <hr class="comment_seperator"></hr>
          <br/>

          <div class="comment_div">
            <button type='button' class="comment_list">
              <h4 class="comment_content"><span class="comment_icon">😋</span>음식이 맛있어요</h4>              
              <h4 class="comment_cnt">13명</h4>
            </button>
            <button type='button' class="comment_list">
              <h4 class="comment_content"><span class="comment_icon">🍚</span>양이 많아요</h4>              
              <h4 class="comment_cnt">13명</h4>
            </button>
            <button type='button' class="comment_list">
              <h4 class="comment_content"><span class="comment_icon">👀</span>매장이 넓어요</h4>              
              <h4 class="comment_cnt">13명</h4>
            </button>
            <button type='button' class="comment_list">
              <h4 class="comment_content"><span class="comment_icon">💸</span>가성비가 좋아요</h4>              
              <h4 class="comment_cnt">13명</h4>
            </button>
            <button type='button' class="comment_list">
              <h4 class="comment_content"><span class="comment_icon">💖</span>친절해요</h4>              
              <h4 class="comment_cnt">13명</h4>
            </button>
            <button type='button' class="comment_list">
              <h4 class="comment_content"><span class="comment_icon">🌱</span>재료가 신선해요</h4>              
              <h4 class="comment_cnt">13명</h4>
            </button>
            <button type='button' class="comment_list">
              <h4 class="comment_content"><span class="comment_icon">⛰️</span>뷰가 좋아요</h4>              
              <h4 class="comment_cnt">13명</h4>
            </button>
            <button type='button' class="comment_list">
              <h4 class="comment_content"><span class="comment_icon">✨</span>매장이 청결해요</h4>              
              <h4 class="comment_cnt">13명</h4>
            </button>
            <button type='button' class="comment_list">
              <h4 class="comment_content"><span class="comment_icon">🚘</span>주차장이 넓어요</h4>              
              <h4 class="comment_cnt">13명</h4>
            </button>
          </div>
        </div>
      </div>
    </main>
    {% endblock container-block %}
    