{% extends 'main.html' %}
{% load static %}
<head>

</head>
{% block container-block %}
<main>
  <hr>
  <div id="foodboard1">  
    <div class="info_more">
      <div class="info_img">
        {% if flist.bFile1 %}
        <img src= "{{flist.bFile1.url}}">
        {% endif %}
        {% if flist.bFile2 %}
        <img src= "{{flist.bFile2.url}}">
        {% endif %}
        {% if flist.bFile3 %}
        <img src= "{{flist.bFile3.url}}">{% endif %}
      </div>
      <br>
      <div class="info_text">
        <div class="info_wrap">
          <div class="bottom_slide">
            <strong>{{flist.bTitle}}
              <a href="/foodBoard/foodRes/{{flist.bNo}}/">
                <ion-icon name="chevron-forward-outline" class="moreIcon"></ion-icon>
              </a>
            </strong>
            <p>00구 · 000</p>
          </div>
        </div>
        <div class="button_wrap">
          <div class="reservation">
            <a href="/foodBoard/foodRes/{{flist.bNo}}/">
            <ion-icon name="calendar-number-outline" style="width:30px; height:30px;"></ion-icon>
            <p>예약하기</p>
          </a>
          </div>
        </div>
      </div>
      <br/>
      <div class="bottom_content">
            <strong>{{flist.bSubtitle}}</strong>
            <p>{{flist.bContent}}</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% endblock container-block %}
    