{% extends 'main.html' %}
{% load static %}
<head>
</head>
{% block container-block %}
<main>
  <div id="foodboard1">  
    <div class="info_more">
      <div class="info_img">
        {% if flist.bFile1 %}
        <img src= "{{flist.bFile1.url}}">
        {% endif %}
        {% if flist.bFile2 %}
        <img src= "{{flist.bFile2.url}}">
        {% endif %}
        {% if flist.bFile3 %}
        <img src= "{{flist.bFile3.url}}">{% endif %}
      </div>
      <br>
      <div class="info_text">
        <div class="info_wrap">
          <div class="bottom_slide">
            <strong>{{flist.bTitle}}
              <a href="/foodBoard/foodRes/{{flist.bNo}}/">
                <ion-icon name="chevron-forward-outline" class="moreIcon"></ion-icon>
              </a>
            </strong>
            <p>00구 · 000</p>
          </div>
        </div>
        <div class="button_wrap">
          <div class="reservation">
            <a href="/foodBoard/foodRes/{{flist.bNo}}/">
            <ion-icon name="calendar-number-outline" style="width:30px; height:30px;"></ion-icon>
            <p>예약하기</p>
          </a>
          </div>
        </div>
      </div>
      <button class="listLikeOn2"></button>
              <!-- <button class="listLikeOff2"></button> -->
              <span class="LikeCnt2">111</span>
              <button class="listLoc2"></button>
              <button class="liststar2"></button>
      <br/>
      <div class="bottom_content">
            <strong>{{flist.bSubtitle}}</strong>
            <p>{{flist.bContent}}</p>
            </div>
          </div>
          <button class="cancelBtn1" onclick="location.href='/foodBoard/foodList/'">목록으로</button>
          <br/>
        <div class="comment_Wrap">
          <h4 class="comment_Title">댓글(0)</h4>
          <textarea class="comment_Write"></textarea>
          <button type='button' class="comment_btn">등록</button>
        </div>
          <hr class="comment_seperator"></hr>
          <br/>
          <div class="comment_list">
            <h4 class="comment_nicName">길동스 <span class="comment_date">2024.12.05</span> </h4>
            <h5 class="comment_content">여기 너무 좋은 것 같아요!</h5>
          </div>
          <div class="comment_list">
            <h4 class="comment_nicName">길동스 <span class="comment_date">2024.12.05</span> </h4>
            <h5 class="comment_content">여기 너무 좋은 것 같아요!</h5>
          </div>
          <div class="comment_list">
            <h4 class="comment_nicName">길동스 <span class="comment_date">2024.12.05</span> </h4>
            <h5 class="comment_content">여기 너무 좋은 것 같아요!</h5>
          </div>
          <div class="comment_list">
            <h4 class="comment_nicName">길동스 <span class="comment_date">2024.12.05</span> </h4>
            <h5 class="comment_content">여기 너무 좋은 것 같아요!</h5>
          </div>
          <div class="comment_list">
            <h4 class="comment_nicName">길동스 <span class="comment_date">2024.12.05</span> </h4>
            <h5 class="comment_content">여기 너무 좋은 것 같아요!</h5>
          </div>
          <div class="comment_list">
            <h4 class="comment_nicName">길동스 <span class="comment_date">2024.12.05</span> </h4>
            <h5 class="comment_content">여기 너무 좋은 것 같아요!</h5>
          </div>
          <div class="comment_list">
            <h4 class="comment_nicName">길동스 <span class="comment_date">2024.12.05</span> </h4>
            <h5 class="comment_content">여기 너무 좋은 것 같아요!</h5>
          </div>
          <div class="comment_list">
            <h4 class="comment_nicName">길동스 <span class="comment_date">2024.12.05</span> </h4>
            <h5 class="comment_content">여기 너무 좋은 것 같아요!</h5>
          </div>
          <div class="comment_list">
            <h4 class="comment_nicName">길동스 <span class="comment_date">2024.12.05</span> </h4>
            <h5 class="comment_content">여기 너무 좋은 것 같아요!</h5>
          </div>
          <div class="comment_list">
            <h4 class="comment_nicName">길동스 <span class="comment_date">2024.12.05</span> </h4>
            <h5 class="comment_content">여기 너무 좋은 것 같아요!</h5>
          </div>

        </div>  
          
        </div>
      </div>
    </main>
    {% endblock container-block %}
    