@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 상단 부분 */
header {
  width: 100%;
  height: 121px;
  border-bottom: 1px solid #e8e8e8;
}

nav {
  width: 1260px;
  height: 120px;
  margin: 0 auto;
  display: flex;
}

.logo {
  width: 132px;
  height: 120px;
  padding-top: 37.5px;
}

.nav_wrap {
  width: 1158px;
  height: 120px;
}

/* 상단 퀵메뉴 */
.quick_menu {
  width: 100%;
  height: 50px;
}

.quick_menu ul {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 45px;
  padding-top: 10px;
}

.quick_menu li {
  width: 93px;
  height: 40px;
  text-align: right;
}

.quick_menu li:nth-child(2) {
  width: 86px;
}

.quick_menu li:nth-child(4) {
  width: 70px;
}

.quick_menu li:nth-child(5) {
  width: 60px;
}

.quick_menu li a {
  height: 44px;
  font-size: 12px;
  color: #8a8d8f;
  margin-left: 3px;
}

.quick_menu li a:after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 11px;
  background: #d3d3d3;
  margin-left: 13px;
  vertical-align: middle;
}

/* 중앙 메뉴부분 */
.menu {
  width: 100%;
  height: 70px;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.menu li {
  width: 180px;
  height: 40px;
  text-align: center;
}

.menu li a {
  font-size: 19px;
  color: #1d1d1d;
  letter-spacing: -0.5px;
  font-weight: 500;
  height: 41px;
  display: inline-block;
}

.menu li a:hover {
  border-bottom: 3px solid #718929;
}

.menu li:nth-child(2) {
  width: 180px;
}

.menu li:nthe-child(3) {
  width: 120px;
}

.menu li:nthe-child(5) {
  width: 190px;
}

.menu li:nthe-child(6) {
  width: 170px;
}

/* 스크롤 하부 메뉴부분 */
.navibg {
  width: 100%;
  height: 427px;
  background: 1px solid black;
  background: rgb(255, 255, 255, 0.7);
  display: none;
  position: absolute;
}

/* 배너부분 */
.banner {
  background: url(../images/img_main_slide_20240612_2_pc.jpg) no-repeat center;
  width: 100%;
  height: 820px;
}

.banner_txt {
  color: white;
  width: 70%;
  height: 500px;
  padding-top: 270px;
  margin: 0 auto;
  text-align: center;
}

.banner_txt p {
  font-size: 20px;
  letter-spacing: 3px;
}

.banner_txt h3 {
  font-size: 48px;
  letter-spacing: 3px;
  padding-top: 15px;
  font-weight: 500;
}

.banner_txt h4 {
  font-size: 24px;
  letter-spacing: -1px;
  padding-top: 30px;
  font-weight: 500;
  line-height: 1.5;
}

.banner_txt a {
  margin-top: 30px;
  display: inline-block;
  width: 190px;
  height: 55px;
  border: 1px solid white;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 3px;
  padding-top: 7px;
  line-height: 40px;
  background: url(../images/bg_main_arrow2.png) 80% 50% no-repeat;
  padding-right: 42px;
}

section {
  width: 100%;
  height:500px;
}

article {
  width: 1290px;
  height: 420px;
  margin: 0 auto;

}

.event {
  position: relative;
}

.event h2 {
  margin: 120px 0 35px;
  text-align: center;
  width: 100%;
  font-size: 32px;
  color: #1b1b1c;
  font-weight: 300;
  letter-spacing: 0.3em;
}

.event .more {
  width: 67px;
  height: 25px;
  background: url(../images/ico_re_plus.png) right 50% no-repeat;
  position: absolute;
  top: 10px;
  right: 0;
}

.event .more a {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.12em;
  color: #5c5c5c;
}

.event .event_cont {
  width: 1290px;
  height: 355px;
  display: flex;
  justify-content: space-between;
}

.event .event_box {
  width: 410px;
  height: 355px;
  position: relative;
}

.event_box img {
  width: 100%;
}

.event_box .t1 {
  width: 70px;
  height: 45px;
  text-align: center;
  background: #90755d;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 45px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.event_box .text {
  padding-top: 35px;
}

.event_box .text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1d;
  letter-spacing: -0.05em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.event_box .text p {
  padding-top: 15px;
  font-size: 15px;
  color: #5c5c5c;
  letter-spacing: -0.02em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}