{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/notice_list.css' %}">
</head>
<body>
<section>
    <h1>NOTICE</h1>
    <div class="wrapper">
      <form action="/search" name="search" method="post">
        <select name="category" id="category">
          <option value="0">전체</option>
          <option value="title">제목</option>
          <option value="content">내용</option>
        </select>

        <div class="title">
          <input type="text" size="16">
        </div>
  
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>

    <table>
      <colgroup>
        <col width="15%">
        <col width="45%">
        <col width="15%">
        <col width="15%">
        <col width="10%">
      </colgroup>
      <!-- 제목부분 -->
      <tr>
        <th>No.</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
      <!-- 내용부분 -->
       {% if blist %}
       {% for board in blist %}
      <tr>
        <td><span class="table-notice">{{board.bno}}</span></td>
        <td class="table-title">
        <a href="/board/bview/{{board.bno}}?npage={{npage}}">
          {% if board.bindent %}
          {% for i in ""|rjust:board.bindent %} └ {% endfor %}{% endif %}
          {{board.btitle}}</a>
        {% comment %} <a href="{% url 'board/bview' board.bno %}">{{board.btitle}}</a> {% endcomment %}
        </td>
        <td>{{board.member.name}}</td>
        <td>{{board.bdate|date:"Y-m-d H:i"}}</td>
        <td>{{board.bhit}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan='5'>데이터가 없습니다.</td>
      </tr>
      {% endif %}
    </table>

    {% comment %} 
    has_previous : 이전 페이지 있는지 확인(T/F)
    has_next : 다음 페이지 있는지 확인(T/F)
    previous_page_number : 현재 페이지의 이전 페이지
    next_page_number : 현재 페이지의 다음 페이지
    paginator.page_range : 페이지의 범위 리스트(1~끝페이지)
    paginator.num_pages : 총 페이지 수(끝 번호)
    count : 총 페이지 수
    {% endcomment %}

    <ul class="page-num">
      <!-- 이전 페이지 확인-->
      {% if blist.has_previous %}
      <a href='/board/blist/?npage=1'><li class="first"></li></a>
      <a href='/board/blist/?npage={{blist.previous_page_number}}'><li class="prev"></li></a>
      {% else %}
      <li class="first"></li>
      <li class="prev"></li>
      {% endif %}
      <!-- 순차적 페이지 넘버링-->
      {% for page in blist.paginator.page_range %}
      {% if page != npage %} 
      {% comment %} page와 npage를 비교하기 때문에 npage는 int타입이어야함 {% endcomment %}
        <a href="/board/blist/?npage={{page}}"><li class="num"><div>{{page}}</div></li></a> 
        {% comment %} 현재 페이지와 다른 번호들은 링크 {% endcomment %}
      {% else %}
        <li class='num on'><div>{{page}}</div></li>
        {% comment %} 현재 페이지의 번호는 CSS 처리 및 링크 X {% endcomment %}
      {% endif %}
      {% endfor %}
      <!--이후 페이지 확인-->
      {% if blist.has_next %}
      <a href = "/board/blist/?npage={{blist.next_page_number}}"><li class="next"></li></a>
      <a href = "/board/blist/?npage={{blist.paginator.num_pages}}"><li class="last"></li></a>
      {% else %}
      <li class="next"></li>
      <li class="last"></li>
      {% endif %}
    </ul>

    <a href="/board/bwrite/"><div class="write">쓰기</div></a>
    <a href="/"><div class="write">홈으로</div></a>
  </section>

</body>
</html>