{% extends 'main.html' %}
{% load static  %}

{% block container-block %}
<body>
<div id="foodboard3 ">
  <div id="BodyMargin">
    <h2 class="BrndTitle">브랜드 소개</h2>
    <br/>
    <br/>
    <br/>
    <div class="BrndItems">
    <h3 class="BrndSubtitle" id="BrndTitle1">
        <img width="20" height="20" src="https://img.icons8.com/external-tulpahn-detailed-outline-tulpahn/64/external-taiyaki-japanese-food-tulpahn-detailed-outline-tulpahn.png" alt="external-taiyaki-japanese-food-tulpahn-detailed-outline-tulpahn"/ class='BrndImg1'>
        | 앙꼬 란?(What’s mean ANG-GGO)
      </h3><br/>
      <div class="BrndWrap">
        <div class="BrndStrong"><strong>“앙”</strong>(음식을 입에 넣을 때의 의성어) + <strong>“꼬”</strong>(Go 의 귀여운 발음)</div>
        <p class="BrndContent">
          의 의미를 가진 사이트명입니다. 찐빵과 같이 귀여운 사이트 유저 들을 위한 <strong>"앙꼬"</strong>가 되겠습니다.</p>
        </div>
      </div>
    </div>
      <hr class="BrndSeperator">
    <div class="BrndItems">
    <h3 class="BrndSubtitle" id="BrndTitle2">
        <img width="20" height="20" src="https://img.icons8.com/ios/50/subway.png" alt="subway"/ class="BrndImg1">
        | 오시는 길
      </h3><br/>
      <div class="BrndWrap">
        <div>
          <img src="/static/images/지도.png" class="BrndMap">
        </div>
        <br/>
        <p class="BrndContent">
             주소 : 서울 금천구 가산디지털2로 101 한라원앤원타워 3층 303호 강의실
        </p>
        <p class="BrndContent">
             지하철 : 가산디지털시티역(1호선/7호선) 8번 출구에서 약 439m (도보로 약 5~10 분)
        </p>
        <p class="BrndContent">
             버스정류장 : 디지털3단지사거리(21/503/504/571/652/5536/5714/금천05)
        </p>
        <p class="BrndContent">
             자차 : 서부간선도로 이용(출퇴근시 매우 혼잡) / 주차장 O
        </p>
        </div>
      </div>
      <hr class="BrndSeperator">
    <div class="BrndItems">
    <h3 class="BrndSubtitle" id="BrndTitle3">
        <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/iphone14-pro.png" alt="iphone14-pro"/ class="BrndImg1">
        | 문의
      </h3><br/>
      <div class="BrndWrap">
        <p class="BrndContent">
             조장 : 박철우 (010-1234-5678)
        </p>
        <p class="BrndContent">
             조원 : 박우정 (010-9876-5432)
        </p>
        <p class="BrndContent">
             조원 : 반서현 (010-1234-9876)
        </p>
        <p class="BrndContent">
             조원 : 황혜진 (010-9876-1234 )
        </p>
        </div>
      </div>
      <hr class="BrndSeperator">
    
    </div>
    

    <div id="right_fixed">
    <div class="right_items">
      <a href="#BrndTitle1">
        <div>
          <img width="32" height="32" src="https://img.icons8.com/external-tulpahn-detailed-outline-tulpahn/64/external-taiyaki-japanese-food-tulpahn-detailed-outline-tulpahn.png" alt="external-taiyaki-japanese-food-tulpahn-detailed-outline-tulpahn"/>
        </div>
        <h4>
          앙꼬란?
        </h4>
      </a>
    </div>
    <div class="right_items">
      <a href="#BrndTitle2">
        <div>
          <img width="32" height="32" src="https://img.icons8.com/ios/50/subway.png" alt="subway">
        </div>
        <h4>
          오시는길
        </h4>
      </a>
    </div>
    <div class="right_items">
      <a href="#BrndTitle3">
        <div>
          <img width="32" height="32" src="https://img.icons8.com/ios-glyphs/30/iphone14-pro.png" alt="iphone14-pro">
        </div>
        <h4>
          문의
        </h4>
      </a>
    </div>
    <div class="top">
      <a href="#">▲ TOP</a>
    </div>
  </div>
  </div>
</body>
  {% endblock container-block %}