<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학생 리스트</title>
  <style>
    h2{font-size: 30px; text-align:center;}
    table,th,td{border : 1px solid black; border-collapse : collapse; box-sizing:border-box; font-size:25px;}
    table{margin : 0 auto;}
    th,th {width : 120 px; height : 50px, margin : 20px auto;}
    td{width: 120px;, height : 40px; text-align : center;}
    button{text-align:center; margin:0 auto; font-size:20px; }
  </style>

</head>
<body>
  <h2>학생 리스트</h2>
  <table>
    <tr>
      <th>학생 이름</th>
      <th>학과</th>
      <th>학번</th>
      <th>나이</th>
      <th>성별</th>
    </tr>
    {% for s in list %}
    <tr>
      <td>{{s.s_name}}</td>
      <td>{{s.s_major}}</td>
      <td>{{s.s_grade}}</td>
      <td>{{s.s_age}}</td>
      <td>{{s.s_gender}}</td>
    </tr>
    {% endfor %}
  </table>
  <br/>
  <a href = '/'><button>홈페이지로 이동</button></a>
  <a href = '/students/write'><button>학생 등록 페이지로 이동</button></a>
</body>
</html>