<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학생데이터입력</title>
</head>
<body>
  <h2>학생 등록 페이지</h2>
  <form action = "{% url 'students:write' %}" method = 'POST' name='frm'>
    {% csrf_token %}
    <label>학생 이름</label>
    <input type='text' name='s_name'><br/>
    <label>학과</label>
    <input type='text' name='s_major'><br/>
    <label>학번</label>
    <input type='text' name='s_grade'><br/>
    <label>나이</label>
    <input type='text' name='s_age'><br/>
    <label>성별</label>
    <input type='text' name='s_gender'><br/>
    <input type='submit' name='제출'>
    <input type='reset' name='초기화'>
  </form>
</body>
</html>