{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/foodboard.css' %}">
  <script src ='http://code.jquery.com/jquery-latest.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <title>ANG-GGO</title>
</head>
<body>
  <!-- 헤더 부분 -->
   <header>
      <div class="logo">
        <a href="/"><ion-icon name="logo-github" style="width:150px; height:150px; vertical-align:middle; margin:0 auto;"></ion-icon></a>
      </div>
      <div class="navi">
        <ul class="nav_ul">
          <li>지도</li>
          <li><a href="/foodBoard/foodList/">맛집추천</a></li>
          <li><a href="/board/nboard/">게시판</a></li>
          <li><a href="#">예약</a></li>
          <li>이벤트</li>
          <li>브랜드 소개</li>
        </ul>
      </div>
      <div class="login">
        <span>  
          <ul class="nav_ul2">
            <li>
              <a href="/foodBoard/foodList/">
                <ion-icon name="person-outline" style="width:20px; height:20px;"></ion-icon><br/>
                로그인</a>
            </li>
            <li>
              <a href="/foodBoard/foodList/">
                <ion-icon name="person-outline" style="width:20px; height:20px;"></ion-icon><br/>
                회원가입</a>
            </li>
        </span>
      </div>
    <hr>
    </header>
    <hr>
{% block container-block %}
{% endblock container-block %}
<footer>
    <div class="footer">
      <div class="ftnavi">
        <ul>
          <li><a href="">회사소개</a></li>
          <li><a href="">오시는길</a></li>
          <li><a href="">개인정보처리방침</a></li>
          <li><a href="">영상정보처리기기운영관리방침</a></li>
          <li><a href="">이용약관</a></li>
          <li><a href="">이메일무단수집거부</a></li>
        </ul>
        <div class="addr">
          <p>포레스트 리솜<span>|</span>충청북도 제천시 백운면 금봉로 365</p>
          <p class="tel">대표번호 : 043-649-6000&nbsp;&nbsp;
          <span>예약문의 : 1600-0060</span>
          <span>단체문의 : 02-6177-5999</span>
          <span>분양문의 : 02-567-5555</span>
          <span>통신판매업신고 : 2011-충북제천-0016호</span>
          </p>
          <p>메리츠화재와 개인정보 배상책임보험 계약을 체결하여 회원 개인정보를 보호하고 있습니다.</p>
          <p class="copy">COPYRIGHT(C) HOBAN HOTEL & RESORT. ALL RIGHTS RESERVED.</p>
        </div>
      </div>
      <div class="right">
        <div class="sns">
          <a href="#"><img src="images/insta_btn_fnew.png"></a>
          <a href="#"><img src="images/youtube_btn_fnew.png"></a>
          <a href="#"><img src="images/facebook_btn_fnew.png"></a>
          <a href="#"><img src="images/kakao_ch_btn_fnew.png"></a>
        </div>
        <div class="group">
          <select name="site_go" id="site_go" class="sel_box">
            <option value="#">패밀리사이트</option>
            <option value="https://www.ihoban.co.kr/web">호반건설</option>
            <option value="https://www.hobanapt.co.kr/web">호반베르디움</option>
          </select>
          <button type="button">GO</button>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>