<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학생 수정</title>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
  <h2>학생 수정</h2>
  <form action ={% url 'students:update' stu.name %} method='POST' name='wfrm'>
    {% csrf_token %}
  <table>
    <tr>
      <th>이름</th>
      <td><input type='hidden' id='name' name='name'>
      {{stu.name}}</td>
    </tr>
    <tr>
      <th>학과</th>
      <td><input type='text' name='major' value={{stu.major}}></td>
    </tr>
    <tr>
      <th>학년</th>
      <td>
       <select name='grade'>
        <option value=1 {% if stu.grade == 1 %}selected{% endif %}>1학년</option>
        <option value=2 {% if stu.grade == 2 %}selected{% endif %}>2학년</option>
        <option value=3 {% if stu.grade == 3 %}selected{% endif %}>3학년</option>
        <option value=4 {% if stu.grade == 4 %}selected{% endif %}>4학년</option>
       </select>
    </td>
    </tr>
    <tr>
      <th>나이</th>
      <td><input type='text' name='age' value={{stu.age}}></td>
    </tr>
    <tr>
      <th>성별</th>
      <td>
        <input type='radio' name='gender' id='male' value='male' {% if stu.gender == "male" %}checked{% endif %}><label for='male'>남자</label>
        <input type='radio' name='gender' id='female' value='female' {% if stu.gender == "female" %}checked{% endif %}><label for='female'>여자</label>
      </td>
    </tr>
    <tr>
      <th>취미</th></th>
      <td>
        <input type='checkbox' name='hobby' value='game' {% if "game" in stu.hobby %}checked{% endif %}><label for='game'>게임</label>
        <input type='checkbox' name='hobby' value='golf' {% if "golf" in stu.hobby %}checked{% endif %}><label for='golf'>골프</label>
        <input type='checkbox' name='hobby' value='swim' {% if "swim" in stu.hobby %}checked{% endif %}><label for='swim'>수영</label>
        <input type='checkbox' name='hobby' value='run' {% if "run" in stu.hobby %}checked{% endif %}><label for='run'>조깅</label>
      </td>
    </tr>
  </table>
  <button type='button' onclick="sbtn()">완료</button>
  <button type='button' onclick="cbtn()">취소</button>
  </form>
  <script>
    function sbtn(){
      if($('#name').val().length<2){
        alert("이름은 최소 2글자 이상 입력하셔아 합니다.");
        return false
      } 
        alert("학생을 등록합니다.");
        wfrm.submit();
    }
    function cbtn(){
      alert("이전화면으로 이동합니다.");
      location.href='{% url "students:view" stu.name %}'
    }
  </script>
</body>
</html>