<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학생 상세보기</title>
</head>
<body>
  <h2>학생 상세보기</h2>
  <table>
    <tr>
      <th>번호</th>
      <td>{{stu.id}}</td>
    </tr>
    <tr>
      <th>이름</th>
      <td>{{stu.name}}</td>
    </tr>
    <tr>
      <th>학과</th>
      <td>{{stu.major}}</td>
    </tr>
    <tr>
      <th>학년</th>
      <td>{{stu.grade}}</td>
    </tr>
    <tr>
      <th>나이</th>
      <td>{{stu.age}}</td>
    </tr>
    <tr>
      <th>성별</th>
      <td>{{stu.gender}}</td>
    </tr>
    <tr>
      <th>취미</th>
      <td>{{stu.hobby}}</td>
    </tr>
  </table>
      <button type='button' onclick="location.href = '{% url "students:update" stu.name %}'">수정</button>
      <button type='button' onclick=delbtn('{{stu.name}}')>삭제</button>
      <button type='button' onclick=location.href = '/students/list/'>리스트로 이동</button>
<script>
  function delbtn(name){
    alert("클릭")
    if(confirm(name+"님 학생 정보를 삭제하시겠습니까?")){
      location.href = '{% url "students:delete" name %}'
  }
}
</script>
</body>
</html>