<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학생등록페이지</title>
</head>
<body>
  <form action='' method="post" name="frm">
    <label>학생이름</label><br/>
    <input type="text" name="s_name"><br/>
    <label>학년</label><br/>
    <input type="text" name="s_grade"><br/>
    <label>학과</label><br/>
    <input type="text" name="s_major"><br/>
    <label>나이</label><br/>
    <input type="text" name="s_age"><br/>
    <label>성별</label><br/>
    <input type="text" name="s_gender"><br/>
    <input type="submit" name="제출"><br/>
    <input type="reset" name="취소"><br/>

  </form>
</body>
</html>